body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.myForm{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:center;
}
.formInputs {
  display: flex;
  width: 500px;
  flex-direction: column;
}

.userDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MuiFormGroup-root.css-dmmspl-MuiFormGroup-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

